<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="isExpanded">
    <mat-nav-list>

      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }">chevron_right
        </mat-icon>
      </mat-list-item>

      <mat-list-item routerLink="/ad/home">
        <div class="d-flex align-items-center">
          <mat-icon mat-list-icon>home</mat-icon>
          <div *ngIf="isExpanded" class="menu-item">Dashboard</div>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/ad/users">
        <div class="d-flex align-items-center">
          <mat-icon mat-list-icon>person</mat-icon>
          <div *ngIf="isExpanded" class="menu-item">User</div>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/ad/observations">
        <div class="d-flex justify-content-center align-items-center">
          <mat-icon mat-list-icon>visibility</mat-icon>
          <div *ngIf="isExpanded" class="menu-item">Observations</div>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/ad/incidents">
        <div class="d-flex justify-content-center align-items-center">
          <mat-icon mat-list-icon>warning</mat-icon>
          <div *ngIf="isExpanded" class="menu-item">Incidents</div>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/ad/permits">
        <div class="d-flex justify-content-center align-items-center">
          <mat-icon mat-list-icon>assignment_turned_in</mat-icon>
          <div *ngIf="isExpanded" class="menu-item">Permits</div>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/ad/action">
        <div class="d-flex justify-content-center align-items-center">
          <mat-icon mat-list-icon>task</mat-icon>
          <div *ngIf="isExpanded" class="menu-item">Action</div>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/ad/audits">
        <div class="d-flex justify-content-center align-items-center">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <div *ngIf="isExpanded" class="menu-item">Audits</div>
        </div>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-admin-user-nav></app-admin-user-nav>
    <div class="content">
      <app-admin-breadcrums></app-admin-breadcrums>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>