.custom-dropdown {
    position: relative;
    width: 100%;
    border: none;
    border-bottom: 1px solid #dfe1e5;
    border-radius: 5px;
    font-size: 0.8rem;
    box-sizing: border-box;
    transition: border-color 0.3s, border-width 0.3s;
    background-color: #f1f1f1;
}

.custom-dropdown-selected {
    padding: 5px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid #008554;
    cursor: pointer; /* Apply pointer cursor to selected option */
}

.custom-dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #008554;
    border-radius: 5px;
    background-color: #fff;
    z-index: 1000;
}

.custom-dropdown-option {
    padding: 5px;
}

.custom-dropdown-option:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer; /* Apply pointer cursor on option hover */
}

.custom-dropdown-option.-closed {
    cursor: default; 
    pointer-events: none;
}
