<div class="row mb-custom">
    <mat-card class="login-card">
        <mat-card-content>
            <div>
                <img src="../../../assets/img/mail.gif" class="mail-img" alt="Animation GIF">
                <h2>Reset Password Email Sent!</h2>
                <p>We received a request to reset your password. A password reset email has been sent to <strong>{{PersonalEmail}}</strong>. Please check your email and follow the instructions to reset your password. If you don't see the email in your inbox, please check your spam folder. If you encounter any issues, please contact our support team at <strong>info.senselive@gmail.com</strong>.</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>
