<div class="custom-dropdown" (click)="toggleDropdown()">
    <div class="custom-dropdown-content">
        <div class="custom-dropdown-selected">
            {{ selectedOption || 'Select an option' }}
        </div>       
    </div>
    <div [@openClose]="dropdownOpen ? 'open' : 'closed'" class="custom-dropdown-options">
        <div *ngFor="let option of options"
            (click)="selectOption(option); $event.stopPropagation()"
            class="custom-dropdown-option"
            [ngClass]="{'-closed': isDropdownClosed()}">
            {{ option }}
        </div>
    </div>
</div>
