.dialog {
    max-width: 500px;
    border: 1px solid #008554;
    border-radius: 4px;
    padding: 20px; /* Adjust padding as needed */
}

.dialog-title {
    font-size: 1.2rem;
    font-weight: 550;
    text-align: center;
    color: grey;
}

.dialog-button {
    width: 100%;
}

.error-msg {
    font-size: 0.7rem;
    font-weight: 550;
    color: red;
}

.normal-msg {
    font-size: 0.7rem;
    font-weight: 550;
    color: black;
}

.sign{
    font-size: 0.8rem;
    font-weight: 550;
    color: black;
}

.sign-error{
    color: #bf2b1b;
}

.sign-link{
    cursor: pointer;
    color: #008554;
}

.success-button {
    background-color: #008554 !important;
    color: white !important;
}

.label{
    font-size: 0.8rem;
    font-weight: 550;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
