<div class="container-fluid">
    <div class="row pt-2 mb-2">
        <div class="outer-card card-flex">
            <h2 class="mt-2">Departments</h2>
            <button mat-icon-button>
            <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-12 mb-3" *ngFor="let card of cards">
                <mat-card class="outer-card">
                    <mat-card-content>
                    <div class="container-fluid">
                        <div class="row">
                        <div class="col-8">
                            <div class="card-title">{{ card.title }}</div>
                            <div class="card-subtitle">Type: {{ card.subtitle }}</div>
                            <div class="card-subtitle2">{{ card.subtitle }}</div>
                        </div>
                        <div class="col-4 ">
                            <mat-card class="inner-card">
                            <mat-card-content>
                                <i class="material-icons icon-color">{{ card.icon }}</i> 
                            </mat-card-content>
                            </mat-card>
                        </div>
                        </div>
                    </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div>
            <mat-card style="border-radius: 5px;">
                <div class="outer-card card-flex mt-2">
                    <h2 class="mt-2" style="margin-left: 10px;">Forms</h2>
                </div> 
                <div class="row container-fluid">
                    <div class="col-9">
                        <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
                            <mat-step [stepControl]="firstFormGroup">
                              <form [formGroup]="firstFormGroup">
                                <ng-template matStepLabel>Fill out your name</ng-template>
                                <mat-form-field>
                                  <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                                </mat-form-field>
                                <div>
                                  <button mat-button matStepperNext>Next</button>
                                </div>
                              </form>
                            </mat-step>
                            <mat-step [stepControl]="secondFormGroup">
                              <form [formGroup]="secondFormGroup">
                                <ng-template matStepLabel>Fill out your address</ng-template>
                                <mat-form-field>
                                  <input matInput placeholder="Address" formControlName="secondCtrl" required>
                                </mat-form-field>
                                <div>
                                  <button mat-button matStepperPrevious>Back</button>
                                  <button mat-button matStepperNext>Next</button>
                                </div>
                              </form>
                            </mat-step>
                            <mat-step>
                              <ng-template matStepLabel>Done</ng-template>
                              You are now done.
                              <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button (click)="stepper.reset()">Reset</button>
                              </div>
                            </mat-step>
                          </mat-horizontal-stepper>
                    </div>  
                    <div class="col-3">
                        <div class="card mt-2 mb-2">
    
                        </div>
                    </div> 
                </div>            
            </mat-card>                        
        </div>       
    </div>
</div>