.sidenav-container {
  width: 100%;
  height: 100vh;
}

.sidenav .mat-list-item {
  height: 64px; /* Match the height with icon width */
}

.sidenav .mat-list-item .mat-line {
  display: none; /* Initially hide the text */
}

.mat-drawer-opened .sidenav .mat-list-item .mat-line {
  display: block; /* Show text when drawer is opened */
}
