<div class="container dialog" [formGroup]="editForm">
  <div class="row pt-2 mb-4" [@fadeInOutPassword]>
    <div class="col-12 mb-2">
      <div class="dialog-title">
        Update Password
      </div>
    </div>
    <div class="col-12 mb-2">
    	<p class="sign sign-error text-center">How to Change Password?</p>
		<p class="sign">
		Step 1: Enter your current password and then enter your new password.<br>
		Step 2: Click "Save".<br>
		Step 3: After successful password change, you will be logged out automatically for security purposes.
		</p>
    </div>
    <div class="col-12 mb-3" >
      <div class="custom-form-input">
        <label class="label">Current Password :</label>
        <input type="password" id="currentPassword" formControlName="currentPassword">
        <div class="error-msg" *ngIf="editForm.get('currentPassword')?.invalid && (editForm.get('currentPassword')?.dirty || editForm.get('currentPassword')?.touched)">
          {{ getErrorMessage('currentPassword') }}
        </div>
      </div>
    </div>
    <div class="col-12 mb-3" >
      <div class="custom-form-input">
        <label class="label">New Password :</label>
        <input type="password" id="newPassword" formControlName="newPassword">
        <div class="error-msg" *ngIf="editForm.get('newPassword')?.invalid && (editForm.get('newPassword')?.dirty || editForm.get('newPassword')?.touched)">
          {{ getErrorMessage('newPassword') }}
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <button mat-raised-button class="dialog-button" (click)="onNoClick()">
              <ng-container *ngIf="(isLoading$ | async); else cancelLabel">
                <app-spinner></app-spinner>
              </ng-container>
              <ng-template #cancelLabel>Cancel</ng-template>
            </button>
          </div>
          <div class="col-6">
            <button mat-raised-button class="dialog-button success-button" (click)="onSaveClick()" [disabled]="!editForm.valid || (isLoading$ | async)">
              <ng-container *ngIf="(isLoading$ | async); else approveLabel">
                <app-spinner></app-spinner>
              </ng-container>
              <ng-template #approveLabel>Save</ng-template>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


