/* styles.css */

.count-1 {
  font-size: 0.8rem;
  font-weight: 550;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chart-container {
  width: 100%;
  min-height: 200px; /* Adjust the minimum height as needed */
}

.spinner-wrapper {
  width: 100%;
  min-height: 200px; /* Ensure this matches the .chart-container min-height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Overview {
  font-size: 1rem;
  font-weight: 550;
}
