.title {
    font-size: 1rem;
    font-weight: 550;
}

.outer-card {
    height: 100%;
    width: 100%;
}

.inner-card {
    height: 50px;
    margin-top: -25px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-size: 1rem;
    font-weight: 550;
}

.card-subtitle {
    font-size: 0.8rem;
    font-weight: 550;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-color {
    background: linear-gradient(to right, #008554, #035539); /* Green shades */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: pulse 2.5s infinite alternate; /* Pulsating animation */
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}