<div class="row mb-custom">
    <mat-card class="login-card">
        <mat-card-content>
            <div>
                <img src="../../../assets/img/mail.gif" class="mail-img" alt="Animation GIF">
                <h2>Thanks for Choosing us!</h2>
                <p>An email has been sent to <strong>{{personalEmail}}</strong>. Please check your email and click the verification link to complete your account registration. If you do not receive the email within the next few minutes, please check your spam folder. If you still encounter issues, contact our support team at <strong>info.senselive@gmail.com</strong>. Once your account is verified, within 24 hours, our administrators will connect with you to activate your organization account for further use.</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>
