<!-- <div class="container-fluid mt-3">
    <div class="row">
        <div>{{ selectedCard.formId }}</div>
        <div>{{ selectedCard.title }}</div>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card card-with-border">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <mat-icon>{{selectedCard.icon}}</mat-icon>
                        </div>
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div class="my-1 mx-1">{{ selectedCard.formId }}</div>
                        </div>
                        <div class="col-lg-12 mx-1">
                            time
                        </div>
                        <p></p><p></p>
                        <div class="col-lg-12 mx-1">
                            <div>{{selectedCard.organization}}</div>
                        </div>
                        <div class="col-lg-12 mx-1">
                            <div>{{selectedCard.details}} details</div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6 d-flex justify-content-center pt-2">
                            <button mat-button color="primary">Approve</button>
                        </div>
                        <div class="col-lg-6 d-flex justify-content-center pt-2">
                            <button mat-button routerLink="/au/preview">Preview</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>