.login-card {
    width: 100%;
    max-width: 400px;
    height: auto;
    background: rgba(255, 255, 255, 0.7); /* White color with 70% opacity */
}


.img-fluid{
	height: 70px;
}

.from-feild{
	width: 100%;
}

.SignInButton{
	width: 100%;
	background-color: #4caf50;
}

.title{
	font-size: 1.5rem;
	font-weight: 550;
}

@media screen and (max-width: 768px) {
    .login-card {
        min-width: auto; /* Remove the minimum width restriction */
    }
}