
.login-card {
    width: 100%;
    max-width: 400px;
    height: auto;
    background: rgba(255, 255, 255, 0.7); /* White color with 70% opacity */
}


.img-fluid{
	height: 70px;
}

.from-feild{
	width: 100%;
}

.SignInButton{
	width: 100%;
	background: linear-gradient(90deg, #008554 0%, #035539 100%);
}

.title {
    font-size: 1.2rem;
    font-weight: 550;
    background: linear-gradient(90deg, #008554, #035539);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
    .login-card {
        min-width: auto; /* Remove the minimum width restriction */
    }
}


.line {
    flex-grow: 1; /* To make the line grow and fill the available space */
    height: 1px; /* Height of the line */
    background-color: #918f87; /* Color of the line */
    margin: 0 5px; /* Adjust margin as needed */
}

.line-title {
    font-size: 0.8rem; /* Adjust font size as needed */
    color: #918f87; /* Color of the title */
}

.reg-link {
    text-decoration: none; /* Remove underlining */
    font-weight: 550; /* Make it bold */
}

