<div class="container-fluid">
  <div class="row pt-2 mb-2">
    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
      <mat-card class="card-1">
        <mat-card-content>
          <div class="row">
            <div class="col-12 mb-2 d-flex align-items-center">
              <div class="count-1">Types of Permit</div>
            </div>
            <div class="col-12 mb-2 chart-container">
              <highcharts-chart
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                style="width: 100%; height: 100%; display: block;"
              ></highcharts-chart>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
      <mat-card class="card-1">
        <mat-card-content>
          <div class="row">
            <div class="col-12 mb-2 d-flex align-items-center">
              <div class="count-1">Types of Permit</div>
            </div>
            <div class="col-12 mb-2 chart-container">
              <highcharts-chart
                [Highcharts]="Highcharts"
                [options]="chartOptions2"
                style="width: 100%; height: 100%; display: block;"
              ></highcharts-chart>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-12 mb-2 d-flex align-items-center">
              <div class="count-1">Percentage of Closures, Extension and Open</div>
            </div>
            <div class="col-12 mb-2 chart-container">
              <highcharts-chart
                [Highcharts]="Highcharts"
                [options]="chartOptionsDonut"
                style="width: 100%; height: 100%; display: block;"
              ></highcharts-chart>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12">Permit Category</div>
    <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
      <mat-card>
        <mat-card-content>
          <div class="row mb-3">
            <div class="col-9 d-flex align-items-center">
              <i class="material-icons category-icon">home</i>
              <div class="category-title">HWP</div>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-between">
              <i class="material-icons category-icon">edit</i>
              <i class="material-icons category-icon">delete</i>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12 mb-2">
              <div class="S">Want to Start the Welding work?</div>
            </div>
            <div class="col-12 mb-2">
              <div class="S">Start Date: 20 May, 2024 02:00 PM</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
