mat-toolbar{
  height: 50px;
  border-radius: 10px 0 0 10px ;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.2) 100%); /* White with transparency */
  backdrop-filter: blur(10px);
}

.user-profile {
  position: relative;
}

.user-image {
  border: 1px solid black;
  padding: 2px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.page-title{
  font-size: 1rem;
  font-weight: 550;
}