.mat-toolbar {
  height: 50px;
  border-radius: 10px 0 0 10px;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.2) 100%);
  backdrop-filter: blur(10px);
}

.toolbar-content {
  display: flex;
  align-items: center; /* Align items vertically */
  width: 100%;
  gap: 10px;
}

.user-profile {
  position: relative;
}

.user-image {
  border: 1px solid black;
  padding: 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.page-title {
  font-size: 1rem;
  font-weight: 550;
  margin-right: auto; /* Push the text to the left */
}

.menu-icon {
  margin-right: 5px; /* Adjust as needed */
}

.menu-item-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem; /* Reduce font size */
  font-weight: 550; /* Set font weight */
}

.badge {
  font-size: 0.8rem;
}

.notification-menu {
  max-width: 300px;
}

.notification-title {
  font-size: 0.8rem;
  font-weight: 550;
}

.notification-time {
  font-size: 0.7rem;
  font-weight: 550;
}

.notification-item {
  font-size: 0.7rem;
  font-weight: 550;
  color: grey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row.unread {
  border-left: 2px solid #008554;
  border-right: 2px solid #008554;
  border-radius: 5px; /* Add border radius to make the corners rounded */
  background: rgba(0, 133, 84, 0.1); /* Green background with 10% opacity */
  backdrop-filter: blur(5px); /* Apply blur effect */
}



.notification-view-all {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 550;
  color: blue; /* Change to desired color */
  cursor: pointer;
  border-top: 1px solid #f1f1f1;
}

