.loginNav {
  height: 15vh;
  background: linear-gradient(to right, whitesmoke, ghostwhite);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.loginFooter {
  position: fixed;
  bottom: 0;
  height: 5vh;
  background: linear-gradient(to right, whitesmoke, ghostwhite);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
