.login{
	height: calc(100% - 25px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.login_image {
    max-height: 50px;
    width: auto;
}

.full-width-input {
    width: 100%; /* Ensure the input spans full width */
}
