.title {
    font-size: 1rem;
    font-weight: 550;
}

.outer-card {
    height: 100%;
    width: 100%;
}

.inner-card {
    height: 50px;
    margin-top: -25px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-size: 1rem;
    font-weight: 550;
}

.card-subtitle {
    font-size: 0.8rem;
    font-weight: 550;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-color{background: linear-gradient(to right, blue, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}