<div class="container-fluid">
  <div class="row pt-2 mb-2">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="outer-card">
        <h4 *ngIf="user" class="mt-2">Hello, {{user?.first_name ?? ''}} {{user?.last_name ?? ''}}</h4>
      </div>
      <mat-card class="Linear-Approved">
        <mat-card-content>
          <div class="container-fluid">
            <div class="card-title">Organization Name :</div>
            <div class="card-flex">
              <div class="card-subtitle pt-2">{{data?.name}}</div>
              <div class="card-subtitle2 pt-2">{{data?.address}}</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <div class="outer-card card-flex mt-2">
        <h2 class=" mt-3">Plants</h2>
        <button mat-icon-button class=" mt-1" (click)="updateToggleSidenav(data,'insertPlant')">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 mt-2" *ngFor="let card of plantData" (click)="viewDetails(card)">
          <mat-card class="Approved">
            <mat-card-content>
              <div class="container-fluid">
                <div class="card-title">Plant Name :</div>
                <div class="card-flex">
                  <div class="card-subtitle pt-2">{{card?.name}}</div>
                  <div class="card-subtitle2 pt-2">{{card?.location}}</div>
                </div>
                <div class="mt-1 update-flex">
                  <button mat-button class="card-btn" style="color:#135c18;" (click)="updateToggleSidenav(card,'updatePlant');$event.stopPropagation()">Update</button>
                  <button mat-button class="card-btn" color="warn" (click)="$event.stopPropagation();deletePlant(card.plant_id)">Delete</button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
