.title {
    font-size: 1rem;
    font-weight: 550;
}

.card-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Approved {
    border-left: 5px solid;
    border-image: linear-gradient(to bottom, #1b8f29, #135c18);
    border-image-slice: 1;
}

.count-card{
    border: none;
    border-radius: 5px;
}

.card-title {
    font-size: 1rem;
    font-weight: 550;
}

.count-card .card-title {
    font-size: 1.1rem;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.count-card .count {
    padding-top: 5px;
    font-size: 1.3rem;
    font-weight: 600;
}

.Approved {
    border-left: 5px solid;
    border-image: linear-gradient(to bottom, #1b8f29, #135c18);
    border-image-slice: 1;
}

.update-flex{
    display: flex; 
    justify-content: flex-end;
    margin-bottom: -0.75vh;
    flex-wrap: wrap;
}

.no-data-msg{
    display: flex;
    justify-content: center;
    font-weight: 550;
}

.table-container {
    table-layout: fixed;
}

.table-header{
    position: sticky;
    top: 0;
    background: linear-gradient(180deg, #00a366 0%, #047d4b 100%);
    color: whitesmoke;
    height: 45px;
    font-size: 0.9rem;
    font-weight: 550;
}

.table-body{
    height: 40px;
    font-size: 0.7rem;
    font-weight: 550;
}