<div class="container-fluid">
    <div class="row pt-2 mb-2">
        <div class="outer-card card-flex">
            <h2 class="mt-2">Departments</h2>
            <button mat-icon-button (click)="updateToggleSidenav(id,'addDepartment')">
              <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-12 mb-3" *ngFor="let card of data">
                <div class="card count-card Approved" (click)="departmentsSelect(card)">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="card-title">{{card?.name}}</div>
                            </div>
                                <div class="col-12">
                                <div class="text-end count">{{card?.total_users}}</div>
                            </div>
                            <div class="mt-2 update-flex">
                                <button mat-button color="primary" style="margin-right: -5px;" (click)="$event.stopPropagation();viewForms(card)">Forms</button>
                                <button mat-button style="color:#135c18;margin-right: -5px;" (click)="$event.stopPropagation();updateToggleSidenav(card,'editDepartment')">Update</button>
                                <button mat-button color="warn" style="margin-right: -5px;" (click)="$event.stopPropagation();deleteDepartment(card.department_id)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <mat-card style="border-radius: 5px;">
                <div class="outer-card card-flex mt-2">
                    <h2 class="mt-2" style="margin-left: 10px;">Users</h2>
                    <button style="margin-right: 10px;" mat-icon-button (click)="updateToggleSidenav('','addUser')">
                      <mat-icon>add</mat-icon>
                    </button>
                </div>

                <div class="container-fluid">
                    <div class="table-container" style="overflow: auto; max-height: 50vh; border-radius: 5px;">
                        <table mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0; else noData">
                          <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.first_name+" "+element.last_name}} </td>
                          </ng-container>
                
                          <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef> User Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                          </ng-container>
                
                          <ng-container matColumnDef="role">
                            <th mat-header-cell *matHeaderCellDef> Role </th>
                            <td mat-cell *matCellDef="let element"> {{element.role_name}} </td>
                          </ng-container>
                
                          <ng-container matColumnDef="contact">
                            <th mat-header-cell *matHeaderCellDef> Contact No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.contact_no}} </td>
                          </ng-container>
                
                          <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button color="dark" style="white-space: nowrap;" (click)="updateToggleSidenav(element,'editUser')">
                                  <mat-icon>edit</mat-icon>
                                </button>
                                <button (click)="deleteUser(element.user_id)" mat-icon-button color="dark" style="white-space: nowrap;">
                                  <mat-icon style="margin-right: 5px;">delete</mat-icon>
                                </button>
                              </td>
                          </ng-container>
                
                          <tr class="table-header" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" style="z-index: 1;"></tr>
                          <tr class="table-body" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          
                        </table>
                        <ng-template #noData>
                            <div class="no-data-msg">{{noDataMsg}}</div>
                        </ng-template>                        
                      </div>
                    <mat-paginator class="mb-3" [pageSize]="10" showFirstLastButtons></mat-paginator>
                </div>                
            </mat-card> 
        </div>       
    </div>
</div>

