<div class="container">
  <div class="row pt-2 mb-2">
    <div class="col-12">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- Questions Section -->
        <div formArrayName="questions" *ngFor="let question of questions.controls; let i=index">
          <div [formGroupName]="i" class="mb-3">
            <label>{{ question.value.question_text }}</label>

            <!-- Different input types based on question type -->
            <div *ngIf="question.value.question_type === 'shortAnswer'">
              <input formControlName="answer" type="text" class="form-control">
            </div>
            <div *ngIf="question.value.question_type === 'longAnswer'">
              <textarea formControlName="answer" class="form-control"></textarea>
            </div>
            <div *ngIf="question.value.question_type === 'multipleChoice'">
              <div *ngFor="let option of question.value.options">
                <input type="radio" [value]="option" formControlName="answer">{{ option }}
              </div>
            </div>
            <div *ngIf="question.value.question_type === 'checkbox'">
              <div *ngFor="let option of question.value.options; let j=index">
                <input type="checkbox" [formControlName]="j">{{ option }}
              </div>
            </div>
            <div *ngIf="question.value.question_type === 'upload'">
              <input type="file" (change)="onFileChange($event, i)">
              <span id="file-name-{{ i }}" class="file-name"></span>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </form>
    </div>
  </div>
</div>
